*{
    padding: 0;
    margin: 0;
}

body{
    font-family: roboto;
    font-weight: lighter;
    color: #eee;
    font-size: 25px;
    overflow: hidden;
}

.container{
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-rows: 1fr;
    background-attachment: fixed;
    height: 102vh;
    background: #112764;
}

.container div{
    margin-bottom: 35px;
}

.min-container{
    text-align: center;
    position: fixed;
    top:80%;
    left:50%;
    transform: translate(-50%, -80%);
}


.ul{
    background-color: rgba(29, 19, 19, 0.438);
    text-align: center;
    position: absolute;
    padding-left: 12px;
    top:0;
    left:-300px;
    bottom: -20%;
    overflow-y: scroll;
    padding-top: 120px;
    transform: translate(-5%, -10%);
    display: block;
    transition: left 0.5s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}
.ul-out{
    left: 0;
}

        .ul::-webkit-scrollbar {
            background: rgba(11, 18, 29, 0);
        }

        ::-webkit-scrollbar {
            background: rgb(25, 28, 34);
            width: 10px;
            padding: 2px;
        }

        ::-webkit-scrollbar-thumb {
            background: linear-gradient(transparent,   rgb(64, 163, 6));
            border-radius: 10px;
        }

        ::-webkit-scrollbar-thumb:hover {
            background: linear-gradient(transparent, rgb(16, 49, 41));
        }

/*li*/
.tips-content{
    background: rgba(27, 18, 18, 0.438);
    font-size: 15px;
    font-weight: 300;
    list-style: none;
    color: #eee;
    margin: 5px;
    padding: 15px;
    width: 200px;
    border-radius: 4px;
}

.tips-content:hover{
    background-color: rgba(64, 163, 6, 0.233);
}


/*Hamburger*/
.right-burger{
    position: absolute;
    font-size: 30px;
    top: 2%;
    left:1.8%;
    z-index: 1;
    list-style: none;
    }

    #burger{
        color: #eee;
    }
    #burger:hover{
        color: #0dff0d81;
    }

    #burger:active{
        color: #0dff0d81;
    }

    /*output*/
    .user{
        transition: 3s;
        animation-duration: 3s;
        animation-name: fade;
    }

    @keyframes fade{
        0%{
            display: none;
        }
        100%{
            display: block;
        }
    }



.logo{
    position: fixed;
    top:5%;
    left:50%;
    transform: translate(-50%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
    width: 250px;
    border-radius: 111px;
    background: #112764;
    box-shadow:  12px 12px 24px #0e1f50, 
                 -12px -12px 24px #142f78;
}


.logo::after{
    content: '';
    position: absolute;
    height: 200px;
    width: 200px;
    border-radius: 111px;
    background: #112764;
    box-shadow:  inset 12px 12px 24px #0e1f50, 
                 -12px -12px 24px #142f78;
}


.myInput{
    font-family: roboto;
    font-weight: lighter;
    color: #eee;
    font-size: 25px;
    background: none;
    outline: none;
    padding: 8px;
    border: none;
    border-bottom: 2px solid #eee;
}



@media(max-width: 300px){

    .logo{
        border-radius: 111px;
background: #112764;
box-shadow:  12px 12px 24px #0e1f50, 
             -12px -12px 24px #142f78;
    }

    
    .min-container{
        text-align: center;
        position: fixed;
        top:80%;
        left:50%;
        transform: translate(-50%, -80%);
    }
    


    .logo{
        position: fixed;
        top:9%;
        left:50%;
        transform: translate(-50%);
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 111px;
        background: #112764;
        box-shadow:  12px 12px 24px #0e1f50, 
                     -12px -12px 24px #142f78;
    }

    .right-burger{
        top:2%;
        left: 6%;
    }

    .myInput{
        width: 240px;
    }
}