@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@100;200;300;400;500;700;800;900&display=swap');

body {
  margin: 0;
  /* background: #841515; */
  background: #ffffff;
  font-family:Arima Madurai;
}

/* .control-panel{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  width: 300px;
}


.drum-pad{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(184, 169, 169);
  font-size: 30px;
  cursor: pointer;
  border-radius: 39px;
  margin: 15px;
  width: 145px;
  height: 145px;
  border-radius: 23px;
background: #841515;
box-shadow:  7px 7px 14px #641010,
             -7px -7px 14px #a41a1a;
}

.drum-pad:active{
  color: rgb(143, 137, 137);
  border-radius: 23px;
  background: #841515;
  box-shadow: inset 7px 7px 14px #641010,
              inset -7px -7px 14px #a41a1a;
}
 */
